### Проверка работоспособности и качества пайплайна

Здесь мы еще не запускаем никакое API, а загружаем модель (pipeline) напрямую и проверяем на отложенной (тестовой) выборке

In [1]:
import pandas as pd
from sklearn.metrics import r2_score
import dill
dill._dill._reverse_typemap['ClassType'] = type

In [2]:
X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")

In [3]:
X_test.head(3)

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Rooms_outlier,HouseFloor_outlier,HouseYear_outlier,LifeSquare_nan,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B
0,22,1.0,42.794118,27.816177,3.0,11.0,17.0,1977.0,0.118537,30,...,0,0,0,1,0,1,0,1,0,1
1,11,1.0,42.535158,21.921874,8.0,7.0,9.0,1987.0,0.012339,35,...,0,0,0,0,0,1,0,1,0,1
2,122,3.0,75.222209,46.157077,10.0,10.0,14.0,1996.0,0.033494,66,...,0,0,0,0,0,1,0,1,0,1

In [4]:
FEATURES = ['DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare', 'Floor', 'HouseFloor', 'HouseYear']

In [5]:
X_test = X_test[FEATURES]

In [6]:
with open('./app/model.dill', 'rb') as in_strm:
    model = dill.load(in_strm)

In [7]:
predictions = model.predict(X_test.iloc[:500])

In [8]:
pd.DataFrame({'preds':predictions}).to_csv("test_predictions.csv", index=None)

In [9]:
# roc_auc_score(y_score=predictions, y_true=y_test.iloc[:500])
r2_score(y_true=y_test.iloc[:500], y_pred=predictions)

0.7115615023534146